.container {
 width: 100vw;
 height: 100vh;
 top:0px;
 background-image: linear-gradient(rgba(221, 3, 170, 0.236),rgba(221, 3, 170, 0.236)), url(back.png);
background-size: cover; 
position: absolute;
}
.form-box {
    font-family: 'Mitr',sans-serif;
   width: 50%;
   max-width: 350px;
   position:absolute;
   top: 50%;
   left: 52%;
   transform: translate(-50%, -50%);
   background: rgba(255, 255, 255, 0.434) ;
   padding: 50px 60px 70px;
   text-align: center;
}
.form-box h1{
    font-size:  30px; 
    margin-bottom: 60px;
    color: #fcfbff;
    position: relative;
    font-family: 'Mitr',sans-serif;
}
.form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #f3f3f3;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}
.input-field {
    background:rgb(255, 255, 255);
    margin: 20px 0;
    border-radius: 3px;
    display: flex; 
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}
input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 20px 15px;
}
.input-field{
    margin-left: 10px;
    color: rgb(99, 99, 99);
}
.btn {
    font-family: 'Paytone One';
    background-color: rgba(245, 245, 245, 0.886);
    color: rgba(224, 8, 240, 0.983);
    padding: 15px 10px;
    border: none;
    cursor: pointer;
    width: 40%;
    opacity: 0.9;
    font-size:15px ;
    font-weight: 400;
  }
  .btn:hover {
    opacity: 1;
  }
  .fa-solid {
    margin-left:3%;
  }
  body {
    overflow-x: hidden; 
    height: 100%; 
  }
  
  body{
    font-family: tahoma;
    background: linear-gradient(90deg, #3c6382, #82ccdd);
  margin: 0;
  padding: 0;
  }
  .btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .btn-field button {
    flex-basis: 48%;
    background: #9960f5a8;
    color: rgb(255, 255, 255);
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
  }
  .input-group {
    height: 280px;
  }
  .btn-field button.azerty{
    background: #eaeaea;
    color: #555;
  }

  
  